{% extends 'base.html' %}

{% block content %}
    <!-- 블럭 안에 들어갈 내용-->

    <!-- 확인하고자 하는 URL 입력창 & 버튼 -->
    <div class="input-group mb-3 URL-input">
      <button class="btn btn-outline-secondary" type="button" id="accessBtn">테스트</button>  
      <input type="text" class="form-control px-3" placeholder="접속하고자 하는 URL을 입력해주세요." aria-label="accessUrl" aria-describedby="accessBtn">
    </div>

    <section class="result-table">
        <table class="table table-dark table-striped-columns">
            <thead>
              <tr>
                <th class="text-center">속도측정 결과</th>
              </tr>
            </thead>
            <tbody style="height:200px; vertical-align:middle;">
              <tr><td class="text-center"> Uplink Speed = 몇/ms</td></tr>
              <tr><td class="text-center"> Downlink Speed = 몇/ms</td></tr>
              <tr><td class="text-center"> Ping Speed = 몇ms</td></tr>  
            </tbody>
          </table>

          <table class="table table-secondary table-striped-colums">
            <thead>
              <tr>
                <th class="text-center">서버시간</th>
              </tr>
            </tead>
            <tbody>
              <tr>
                <td class="text-center" style="height:100px; vertical-align:middle;">서버시간 측정결과 데이터</td>
              </tr>
            </tbody>
          </table>
    </section>

    <section>
        <!-- 결과화면 두 곳을 float할 구역-->
        <div class="main-rankingbox">
          <table class="table-primary table-responsive">
            <thead>
              <tr>
                <th scope="col-2">순위</th>
                <th scope="col-4">핑 속도</th>
                <th scope="col-4">업링크 속도</th>
                <th scope="col-4">다운링크 속도</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-left">
                <th scope="row">1위<th>
                  <td>N m/s</td>
                  <td>N m/s</td>
                  <td>N m/s</td>
              </tr>
              <tr class="text-left">
                <th scope="row">2위<th>
                  <td>N m/s</td>
                  <td>N m/s</td>
                  <td>N m/s</td>
              </tr>
              <tr class="text-left">
                <th scope="row">3위<th>
                  <td>N m/s</td>
                  <td>N m/s</td>
                  <td>N m/s</td>
              </tr>
              <tr class="text-left">
                <th scope="row">본인<th>
                  <td>N m/s</td>
                  <td>N m/s</td>
                  <td>N m/s</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="main-ratebox">
        </div>
    </section>

{% endblock%}