<!-- 모든 페이지 상단에 공통으로 나타날 퀵메뉴바  -->
    <div class="container-fluid">
        <a class="navbar-brand" href="{}">SUGANG APPLY</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
    </div>